In [117]:
import pandas as pd
import numpy as np

In [118]:
data = pd.read_csv("./dataset/news.csv")

In [119]:
data.head()

,id,headline,text
0,uid-1,Market Advances 5.12 More,NEW YORK (AP) - A prime rate reduction by New ...
1,uid-2,District Boosts Request For Anti-Terrorism Aid...,Mayor Anthony A. Williams petitioned the White...
2,uid-3,"Election? Here's How You Do It, Mate.",From our downunder perspective here in Austral...
3,uid-4,The Biggest Boom Ever,We are about to rewrite history. Unless a rece...
4,uid-5,Economic Aide Sees Uptrend,"Sedate and scholarly Dr. Arthur Burns, the ex-..."

In [120]:
data.shape

(3000, 3)

In [121]:
# data.headline.value_counts()

In [122]:
data.isnull().sum()

id          0
headline    0
text        0
dtype: int64

In [123]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [124]:
data["headline"] = le.fit_transform(data["headline"])
data.head()

      id  headline                                               text
0  uid-1      1529  NEW YORK (AP) - A prime rate reduction by New ...
1  uid-2       678  Mayor Anthony A. Williams petitioned the White...
2  uid-3       849  From our downunder perspective here in Austral...
3  uid-4      2352  We are about to rewrite history. Unless a rece...
4  uid-5       809  Sedate and scholarly Dr. Arthur Burns, the ex-...

In [125]:
data.headline.nunique()

2873

In [126]:
def get_max(text):
    
    list = []
    for txt in text:
        list.append(len(txt))
    return(max(list))

In [127]:
from sklearn.feature_extraction.text import TfidfVectorizer

%time vectorizer = TfidfVectorizer(max_features= 5000, ngram_range= (1,2), stop_words = 'english', min_df= 1, max_df = 1.0,\
                                   norm = 'l2', sublinear_tf = True)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 45.3 µs

In [128]:
import re
def filter_letters(raw_data):
    #data = re.sub("[^a-zA-Z]", ' ', raw_data)
    data = re.sub("[0-9]", ' ', raw_data)
    return data

In [129]:
features_text = data.text.apply(filter_letters)

In [130]:
# features_text

In [131]:
get_max(features_text)

4988

In [132]:
text_vec = vectorizer.fit_transform(features_text)

In [133]:
indices = np.argsort(vectorizer.idf_)[::-1]

In [134]:
features_text = vectorizer.get_feature_names()
top_n = 1000
top_features = [features_text[i] for i in indices[:top_n]]
print(top_features)

['tel', 'merck', 'carbon', 'bcci', 'breast', 'fur', 'rupee', 'welch', 'surgical', 'golf', 'emissions', 'schwab', 'ici', 'irs', 'jarrett', 'wireless', 'magellan', 'annuity', 'rivlin', 'postal', 'enrollment', 'brimmer', 'exemption', 'buffett', 'outflows', 'stein', 'plug', 'god', 'cohen', 'patent', 'amazon', 'kaufman', 'infosys', 'variable', 'rico', 'cds', 'bus', 'puerto rico', 'puerto', 'cigarettes', 'pont', 'ls', 'patman', 'cd', 'yellen', 'beef', 'total return', 'downgrade', 'fiat', 'fidelity', 'nominal', 'wheat', 'seniors', 'tale', 'coffee', 'crew', 'raymond', 'nursing home', 'nursing', 'chile', 'israel', 'du pont', 'gao', 'warner', 'cbo', 'roosevelt', 'google', 'peterson', 'task force', 'award', 'cbs', 'interstate', 'anthony', 'girl', 'small stocks', 'snow', 'mr reagan', 'hybrid', 'respondents', 'abuse', 'barclays', 'student loans', 'schedules', 'breakfast', 'derivatives', 'smoking', 'year yield', 'achievement', 'repairs', 'oil imports', 'metro', 'steel industry', 'bond funds', 'harbor', 'manpower', 'pounds', 'south carolina', 'hospitals', 'compared billion', 'graduates', 'neill', 'districts', 'bankruptcy protection', 'clock', 'day trading', 'delegates', 'thanksgiving', 'universities', 'turner', 'entitlement', 'civil service', 'pay raise', 'australian', 'du', 'nasd', 'bed', 'viewers', 'video', 'rockefeller', 'channel', 'moscow', 'general assembly', 'br committee', 'month bills', 'dry', 'trade gap', 'shoes', 'audit', 'iran', 'boomers', 'dump', 'courses', 'fox', 'facebook', 'stock funds', 'franc', 'prince george', 'english', 'knowledge', 'coupon', 'corporate bonds', 'racing', 'capital goods', 'buying program', 'capita income', 'philosophy', 'surgery', 'maine', 'lock', 'kerry', 'rate mortgage', 'frame', 'sugar', 'charter', 'rental', 'br euro', 'municipal bond', 'transfer', 'billion assets', 'supermarket', 'morris', 'argentina', 'greece', 'informed', 'marginal', 'gray', 'canadian dollar', 'herbert', 'corporation', 'assumptions', 'small cap', 'contribution', 'nice', 'citicorp', 'new law', 'continental', 'evans', 'cisco', 'republican party', 'york fed', 'enron', 'hoffman', 'immigrant', 'income taxes', 'defaulted', 'procedures', 'baseball', 'rest world', 'deduction', 'native', 'coca', 'liberals', 'financial stocks', 'liabilities', 'priorities', 'painewebber', 'household income', 'ton', 'kodak', 'floating', 'tickets', 'foot', 'carrier', 'payroll taxes', 'annuities', 'plays', 'parliament', 'pc', 'ge', 'plastic', 'rushing', 'credit crunch', 'future inflation', 'iraqi', 'dupont', 'earth', 'weighted', 'royal', 'square', 'furniture', 'philip', 'friedman', 'ceos', 'mines', 'couples', 'draw', 'edwards', 'landing', 'caterpillar', 'frederick', 'pact', 'struggled', 'ease credit', 'productivity growth', 'productivity gains', 'bentsen', 'small business', 'stock split', 'government bond', 'engines', 'feet', 'barriers', 'barry', 'exercise', 'bulls', 'title', 'europeans', 'deny', 'peso', 'slow economic', 'earned million', 'regan', 'fiscal second', 'percent rate', 'stabilized', 'ballot', 'circle', 'ubs', 'evening', 'electrical', 'proposition', 'hikes', 'bush said', 'headline', 'quarter results', 'high yield', 'quarter compared', 'swiss francs', 'high inflation', 'capitalism', 'br annual', 'br brokers', 'paulson', 'disney', 'rents', 'summers', 'specter', 'remedy', 'br tax', 'rent', 'solutions', 'trading partners', 'gun', 'repeal', 'tariffs', 'cable', 'obama administration', 'obtain', 'carriers', 'branches', 'dream', 'guidance', 'brady', 'troy', 'geithner', 'thrifts', 'billion fiscal', 'federation', 'ft', 'troops', 'electricity', 'entrepreneurs', 'mexican', 'cola', 'insider', 'month ago', 'king', 'month earlier', 'infrastructure', 'information technology', 'moore', 'world trade', 'sales new', 'late wednesday', 'march stock', 'administration official', 'revenue growth', 'mall', 'adequate', 'motion', 'connected', 'color', 'movies', 'debtor', 'index futures', 'music', 'increased million', 'shops', 'commercial real', 'apple', 'members congress', 'requirement', 'japan br', 'mildly', 'weight', 'island', 'anderson', 'week year', 'rose cent', 'week high', 'rubin', 'medicine', 'ages', 'jurisdiction', 'curve', 'just percent', 'shearson', 'cyclical', 'damaged', 'meaningful', 'dangers', 'saddam', 'credit cards', 'mystery', 'writes', 'amendments', 'consumer credit', 'hussein', 'van', 'lower prices', 'lo', 'cliff', 'austerity', 'consumer sentiment', 'load', 'valley', 'average rate', 'australia', 'immigration', 'authorized', 'sites', 'local governments', 'selection', 'loss million', 'securities firms', 'average yield', 'defaults', 'responses', 'searching', 'veto', 'avenue', 'consolidated', 'corn', 'illinois', 'tax reform', 'aide', 'contributions', 'br key', 'foreign policy', 'securities dealers', 'credit conditions', 'br job', 'foreign currencies', 'existing homes', 'bundesbank', 'york euro', 'maturing', 'executive director', 'exchange trading', 'br increase', 'carter administration', 'permits', 'entry', 'abc', 'methods', 'shake', 'street firms', 'jeffrey', 'earnings br', 'lobbying', 'loans br', 'friend', 'widen', 'jimmy carter', 'mergers', 'rough', 'williams', 'builders', 'jose', 'br growth', 'economic committee', 'exchange markets', 'foods', 'techniques', 'br higher', 'plan br', 'safer', 'according people', 'tank', 'premiums', 'enjoy', 'president federal', 'fed cut', 'presidents', 'features', 'br statement', 'sun', 'acceptable', 'press conference', 'santa', 'accepted', 'connecticut', 'scandal', 'year ended', 'engineering', 'maintaining', 'father', 'sterling', 'year half', 'letters', 'business investment', 'quarter percentage', 'business cycle', 'successor', 'magnitude', 'adjust', 'confirm', 'rate second', 'function', 'flurry', 'br major', 'said expected', 'suburbs', 'affects', 'rate fell', 'state br', 'comptroller', 'security medicare', 'state university', 'concentrated', 'swift', 'economy said', 'brian', 'conduct', 'fiscal quarter', 'stations', 'cancer', 'late thursday', 'elderly', 'surpluses', 'york aug', 'manufacturing sector', 'fields', 'love', 'said plans', 'slipping', 'rose year', 'army', 'health insurance', 'travelers', 'colleges', 'developing countries', 'handed', 'voluntary', 'halted', 'trailed', 'hall', 'guys', 'changing hands', 'guy', 'arrived', 'outlays', 'appropriate', 'gulf war', 'remarkably', 'mortgage market', 'wage increases', 'dinner', 'overcome', 'morningstar', 'growth inflation', 'oversight', 'dealings', 'regulator', 'owning', 'packard', 'heavy trading', 'retire', 'treated', 'cold war', 'newspapers', 'requests', 'nikkei', 'underway', 'hurricane', 'circuit', 'unanimously', 'average br', 'automatically', 'automatic', 'illegal', 'auto makers', 'republic', 'nbc', 'deteriorating', 'audience', 'restrain', 'implement', 'trucks', 'coast', 'occasionally', 'nation output', 'decent', 'retailing', 'highest close', 'victim', 'assumption', 'influential', 'billion month', 'dropped sharply', 'bounced', 'time years', 'insurers', 'commitments', 'anxious', 'pay br', 'introduce', 'receiving', 'ministry', 'threatens', 'million units', 'ipo', 'br case', 'roots', 'receipts', 'people work', 'br close', 'perceived', 'spiral', 'analysts predict', 'tests', 'american express', 'dated', 'look like', 'doctors', 'divisions', 'approached', 'government report', 'war iraq', 'repeated', 'counting', 'church', 'delayed', 'christopher', 'distributed', 'buoyed', 'shares traded', 'soviet union', 'rate month', 'common stock', 'reported br', 'stocks gained', 'comparison', 'said friday', 'competitiveness', 'statistical', 'contest', 'cautioned', 'cut short', 'rose sharply', 'economy continues', 'public offerings', 'straight month', 'budget committee', 'demand br', 'rhetoric', 'budget director', 'secure', 'rose point', 'slowest', 'reserve br', 'revisions', 'cleveland', 'conclude', 'slower growth', 'census bureau', 'enterprises', 'enterprise', 'compared year', 'consolidation', 'dollars br', 'rates higher', 'developers', 'carrying', 'senate majority', 'collect', 'riskier', 'commerce secretary', 'dark', 'data released', 'sam', 'employes', 'sophisticated', 'davis', 'commissioner', 'congressional budget', 'confused', 'draft', 'retiring', 'senior economist', 'dec br', 'came million', 'economic downturn', 'checking', 'cents cents', 'corp br', 'russian', 'consecutive month', 'careful', 'connection', 'quarter growth', 'cheered', 'quarter net', 'end month', 'sovereign', 'sight', 'retain', 'energy costs', 'dole', 'rates lower', 'steve', 'economically', 'economy grow', 'freedom', 'home prices', 'hopeful', 'wish', 'opec', 'belt', 'op', 'hedge funds', 'trial', 'windows', 'window', 'high level', 'joint economic', 'october br', 'wilson', 'beach', 'truck', 'truman', 'battered', 'basis br', 'tuition', 'tumbling', 'joe', 'bar', 'holiday season', 'noticed', 'harry', 'handle', 'billion budget', 'married', 'ticker tape', 'ticket', 'good deal', 'timothy', 'government debt', 'government officials', 'market year', 'participation', 'gramm', 'grand', 'toronto', 'organizations', 'mary', 'matching', 'aftermath', 'owed', 'growth rates', 'agents', 'maturity', 'kenneth', 'outpaced', 'outlined', 'providers', 'job creation', 'people said', 'horizon', 'nasdaq index', 'inched', 'income rose', 'increase year', 'violence', 'associations', 'association realtors', 'increased percent', 'mr clinton', 'asset management', 'indexed', 'mount', 'mother', 'antitrust', 'inflation said', 'misleading', 'moral', 'approaching', 'apart', 'mitchell', 'mo', 'applied', 'insist', 'weaker dollar', 'importance', 'imminent', 'average year', 'north carolina', 'ban', 'balance sheets', 'jimmy', 'house banking', 'ambitious', 'unfair', 'housing starts', 'new tax', 'avoided', 'new homes', 'million yesterday', 'isn likely', 'week percent', 'angry', 'automotive', 'upswing', 'ignore', 'iowa', 'annual growth', 'value dollar', 'natural gas', 'generous', 'bounce', 'br clinton', 'fell cents', 'pretty good', 'favored', 'feared', 'pressing', 'lingering', 'limiting', 'likes', 'supporting', 'preparing', 'yen br', 'lifting', 'fans', 'finance committee', 'finance ministers', 'gains tax', 'lure', 'years according', 'survive', 'pool', 'swap', 'yearly', 'br national', 'listen', 'sufficient', 'leveraged', 'programs br', 'provider', 'yuan', 'broadest', 'proposing', 'york trading', 'proof', 'excellent', 'absence', 'brisk', 'exchanges counter', 'lloyd', 'famous', 'llc', 'products br', 'exporters', 'exxon', 'submitted', 'problem br', 'faded', 'principle', 'br way', 'fairfax county', 'switch', 'financed', 'br ms', 'br days', 'br home', 'br high', 'br greenspan', 'pieces', 'tackle', 'pessimistic', 'laying', 'fundamentals', 'mandate', 'fortune', 'percent rise', 'wright', 'percent nasdaq', 'landscape', 'br course', 'percent april', 'br consumers', 'br congress', 'taxpayer', 'contracting', 'appearing', 'br mortgage', 'point drop', 'ford motor', 'flood', 'flight', 'tax credit', 'fomc', 'year notes', 'maintenance', 'br instead', 'active br', 'market opened', 'lived', 'lost ground', 'luxury', 'sears', 'intelligence', 'major factor', 'late new', 'loss points', 'minus', 'laden', 'insured', 'louis', 'jobs report', 'missed', 'missile', 'market decline', 'market volatility', 'method', 'minneapolis', 'crash br', 'metropolitan area', 'costs br', 'middle class', 'mere', 'make sure', 'md', 'currency br', 'lee', 'million previous', 'scope', 'rolled', 'cut costs', 'junk', 'little bit', 'leads', 'roll', 'low income', 'counted', 'screen', 'crowd', 'cope', 'lending rate', 'kuwait', 'prudential', 'insurance companies', 'pared', 'fit', 'flexibility', 'policymaking', 'economists said', 'policies br', 'foreigners', 'rates near', 'plain', 'ecb', 'francs', 'freely', 'permission', 'performing', 'early br', 'percent previous', 'realtors', 'reasonable', 'dropped points', 'globalization', 'patients', 'drag', 'eisenhower', 'firm br', 'portfolio manager', 'exporting countries', 'european union', 'propose', 'exchange volume', 'purposes', 'exit', 'expense', 'experiencing', 'productive', 'explanation', 'privately', 'raise taxes', 'prime lending', 'familiar matter', 'prices higher', 'previous year', 'quit', 'federal workers', 'feed', 'radical', 'filings', 'dollar yen', 'greatly', 'institutions br', 'packages', 'reserve rate', 'hutton', 'delays', 'identified', 'immigrants', 'nearing', 'near future', 'rest year', 'restructure', 'incentive', 'decade ago', 'narrowly', 'indications', 'industrials rose', 'reversing', 'revival', 'revive', 'montgomery county', 'money markets', 'ride', 'insisted', 'new hampshire', 'reserve cut', 'demonstrated', 'develop', 'group said', 'group seven', 'discussing', 'directed', 'reliable', 'guarantee', 'remainder', 'remove', 'heating', 'heels', 'house senate', 'high unemployment', 'highlighted', 'department stores', 'number people', 'notably', 'department report', 'hospital', 'nomination', 'house budget', 'secret', 'abandoned', 'stearns']

In [135]:
text_dataframe = pd.DataFrame(text_vec.toarray(), columns=vectorizer.get_feature_names())
text_dataframe.head()

,abandoned,abc,ability,able,abroad,absence,absolutely,abuse,academic,accelerate,...,york nov,york oct,york sept,york stock,york trading,young,younger,yuan,zero,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [145]:
text_dataframe1 = text_dataframe.loc[:,top_features]

In [146]:
features = pd.concat([data, text_dataframe1], axis = 1)

In [147]:
features = features.drop("text", axis = 1)

In [148]:
features.shape

(3000, 1002)

In [149]:
features = features.set_index("id")

In [150]:
features.head()

,headline,tel,merck,carbon,bcci,breast,fur,rupee,welch,surgical,...,department stores,number people,notably,department report,hospital,nomination,house budget,secret,abandoned,stearns
id,,,,,,,,,,,,,,,,,,,,,
uid-1,1529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
uid-2,678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
uid-3,849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
uid-4,2352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
uid-5,809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.105867,0.0,0.0

In [151]:
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_score

In [ ]:
for k in [2, 10, 50, 100]:
    
    clusterer = GaussianMixture(n_components= k).fit(features)
    
    preds = clusterer.predict(features)
    
    print(silhouette_score(features, preds, random_state=0))

0.528615477847
0.438001393223

In [153]:
from sklearn.cluster import KMeans

for k in [2, 10, 50, 100]:
    
        
    clusterer = KMeans(n_clusters=k, random_state=0).fit(features)
    
    preds = clusterer.predict(features)
    
    print(silhouette_score(features, preds, random_state=0))

0.63112626869
0.545937529873
0.52576804687
0.516501601956
0.49806728849
0.439516984727

KeyboardInterrupt:

In [81]:
clusterer = KMeans(n_clusters=2, random_state=0).fit(features)
preds = clusterer.predict(features)
print(silhouette_score(features, preds, random_state=0))

features["cluster"] = preds

0.63112095343

In [83]:
features = features.reset_index()
features.head()

,id,headline,ability,able,abroad,access,according,account,accounting,accounts,...,yesterday,yesterday br,yield,yields,york,york stock,young,zero,zone,cluster
0,uid-1,1529,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.118302,0.0,0.0,0.0,0.0,1
1,uid-2,678,0.0,0.0,0.0,0.0,0.077294,0.0,0.0,0.0,...,0.110796,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0
2,uid-3,849,0.0,0.0,0.0,0.0,0.072620,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0
3,uid-4,2352,0.0,0.0,0.0,0.0,0.044911,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,1
4,uid-5,809,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0

In [84]:
features.to_csv("cluster_result.csv", columns = ["id", "cluster"])

In [78]:
# clusterer = KMeans(n_clusters=3000, random_state=0).fit(features_sub)
# preds = clusterer.predict(features_sub)
# print(silhouette_score(features_sub, preds, random_state=0))

# features["cluster"] = preds

# features["cluster"].to_csv("cluster_result.csv")

In [79]:
np.savetxt('tfm3.txt', features.as_matrix())