In [49]:
import pandas as pd
import numpy as np

In [50]:
data = pd.read_csv("./dataset/news.csv")

In [51]:
data.head()

,id,headline,text
0,uid-1,Market Advances 5.12 More,NEW YORK (AP) - A prime rate reduction by New ...
1,uid-2,District Boosts Request For Anti-Terrorism Aid...,Mayor Anthony A. Williams petitioned the White...
2,uid-3,"Election? Here's How You Do It, Mate.",From our downunder perspective here in Austral...
3,uid-4,The Biggest Boom Ever,We are about to rewrite history. Unless a rece...
4,uid-5,Economic Aide Sees Uptrend,"Sedate and scholarly Dr. Arthur Burns, the ex-..."

In [52]:
data.shape

(3000, 3)

In [53]:
# data.headline.value_counts()

In [54]:
data.isnull().sum()

id          0
headline    0
text        0
dtype: int64

In [55]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [56]:
data["headline"] = le.fit_transform(data["headline"])
data.head()

      id  headline                                               text
0  uid-1      1529  NEW YORK (AP) - A prime rate reduction by New ...
1  uid-2       678  Mayor Anthony A. Williams petitioned the White...
2  uid-3       849  From our downunder perspective here in Austral...
3  uid-4      2352  We are about to rewrite history. Unless a rece...
4  uid-5       809  Sedate and scholarly Dr. Arthur Burns, the ex-...

In [57]:
data.headline.nunique()

2873

In [58]:
def get_max(text):
    
    list = []
    for txt in text:
        list.append(len(txt))
    return(max(list))

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer

%time vectorizer = TfidfVectorizer(max_features= 2000, ngram_range= (1,2), stop_words = 'english', min_df= 1, max_df = 1.0,\
                                   norm = 'l2', sublinear_tf = True)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 51.3 µs

In [60]:
import re
def filter_letters(raw_data):
    #data = re.sub("[^a-zA-Z]", ' ', raw_data)
    data = re.sub("[0-9]", ' ', raw_data)
    return data

In [61]:
features_text = data.text.apply(filter_letters)

In [62]:
# features_text

In [63]:
get_max(features_text)

4988

In [64]:
text_vec = vectorizer.fit_transform(features_text)

In [65]:
vectorizer.get_feature_names()

['ability',
 'able',
 'abroad',
 'access',
 'according',
 'account',
 'accounting',
 'accounts',
 'acquisition',
 'act',
 'action',
 'actions',
 'active',
 'activities',
 'activity',
 'actual',
 'actually',
 'ad',
 'add',
 'added',
 'adding',
 'addition',
 'additional',
 'address',
 'adds',
 'adjusted',
 'administration',
 'advance',
 'advanced',
 'advances',
 'advancing',
 'advantage',
 'advertising',
 'advisers',
 'affairs',
 'afternoon',
 'age',
 'agencies',
 'agency',
 'aggressive',
 'ago',
 'ago br',
 'agree',
 'agreed',
 'agreement',
 'ahead',
 'aid',
 'aimed',
 'air',
 'airlines',
 'alan',
 'alan greenspan',
 'allow',
 'allowed',
 'allowing',
 'america',
 'american',
 'americans',
 'amid',
 'amounts',
 'analysis',
 'analyst',
 'analysts',
 'analysts said',
 'analysts say',
 'angeles',
 'announce',
 'announced',
 'announcement',
 'annual',
 'annual rate',
 'answer',
 'anti',
 'anticipated',
 'ap',
 'ap stock',
 'apparent',
 'apparently',
 'appear',
 'appeared',
 'appears',
 'approach',
 'approval',
 'approved',
 'april',
 'area',
 'areas',
 'aren',
 'argue',
 'arms',
 'article',
 'asia',
 'asian',
 'ask',
 'asked',
 'asset',
 'assets',
 'assistant',
 'associated',
 'associated press',
 'associates',
 'association',
 'attack',
 'attacks',
 'attempt',
 'attention',
 'attractive',
 'attributed',
 'auction',
 'aug',
 'august',
 'author',
 'authority',
 'auto',
 'available',
 'average',
 'average fell',
 'average rose',
 'average stocks',
 'averaged',
 'averages',
 'avoid',
 'away',
 'backed',
 'bad',
 'baker',
 'balance',
 'baltimore',
 'bank',
 'bank new',
 'bankers',
 'banking',
 'bankruptcy',
 'banks',
 'barrel',
 'base',
 'based',
 'basic',
 'basis',
 'battle',
 'bear',
 'began',
 'begin',
 'beginning',
 'begins',
 'begun',
 'believe',
 'believes',
 'ben',
 'ben bernanke',
 'benchmark',
 'benefit',
 'benefits',
 'bernanke',
 'best',
 'bet',
 'better',
 'bid',
 'big',
 'big board',
 'bigger',
 'biggest',
 'billion',
 'billion billion',
 'billion br',
 'billion year',
 'billions',
 'bills',
 'bit',
 'black',
 'blue',
 'blue chip',
 'board',
 'board chairman',
 'bond',
 'bond market',
 'bond prices',
 'bonds',
 'book',
 'books',
 'boom',
 'boost',
 'boosted',
 'borrow',
 'borrowers',
 'borrowing',
 'boston',
 'bought',
 'br',
 'br analysts',
 'br br',
 'br company',
 'br despite',
 'br dollar',
 'br dow',
 'br economists',
 'br economy',
 'br fed',
 'br federal',
 'br investors',
 'br late',
 'br market',
 'br mr',
 'br new',
 'br past',
 'br people',
 'br president',
 'br report',
 'br stock',
 'br stocks',
 'br think',
 'br time',
 'br traders',
 'br week',
 'br year',
 'br years',
 'br yesterday',
 'brazil',
 'break',
 'breaks',
 'bring',
 'bringing',
 'britain',
 'british',
 'broad',
 'broader',
 'broker',
 'brokerage',
 'brokers',
 'brothers',
 'brought',
 'brown',
 'budget',
 'budget deficit',
 'budgets',
 'build',
 'building',
 'built',
 'bull',
 'bullish',
 'bureau',
 'burns',
 'bush',
 'bush administration',
 'business',
 'businesses',
 'buy',
 'buyers',
 'buying',
 'calif',
 'california',
 'called',
 'calling',
 'calls',
 'came',
 'campaign',
 'canada',
 'canadian',
 'candidate',
 'candidates',
 'cap',
 'capacity',
 'capital',
 'capital gains',
 'capitol',
 'car',
 'card',
 'care',
 'cars',
 'carter',
 'case',
 'cases',
 'cash',
 'cause',
 'caused',
 'cautious',
 'cent',
 'center',
 'central',
 'central bank',
 'central banks',
 'cents',
 'cents share',
 'century',
 'certain',
 'certainly',
 'chain',
 'chairman',
 'chairman alan',
 'chairman ben',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'charge',
 'charged',
 'charges',
 'charles',
 'chase',
 'check',
 'checks',
 'chicago',
 'chief',
 'chief economist',
 'chief executive',
 'children',
 'china',
 'chinese',
 'chip',
 'chips',
 'choice',
 'christmas',
 'chrysler',
 'cited',
 'cities',
 'citizens',
 'city',
 'civil',
 'claim',
 'claims',
 'class',
 'clear',
 'clearly',
 'clients',
 'climb',
 'climbed',
 'clinton',
 'close',
 'closed',
 'closely',
 'closing',
 'club',
 'cold',
 'collapse',
 'college',
 'columbia',
 'com',
 'combination',
 'combined',
 'come',
 'comes',
 'coming',
 'coming months',
 'comment',
 'comments',
 'commerce',
 'commerce department',
 'commercial',
 'commission',
 'committee',
 'commodity',
 'common',
 'communications',
 'community',
 'companies',
 'company',
 'company said',
 'compared',
 'compared million',
 'compensation',
 'competition',
 'competitive',
 'complex',
 'composite',
 'composite index',
 'computer',
 'computers',
 'concern',
 'concerned',
 'concerns',
 'conditions',
 'conference',
 'confidence',
 'congress',
 'congressional',
 'consecutive',
 'consensus',
 'conservative',
 'consider',
 'considered',
 'considering',
 'construction',
 'consulting',
 'consumer',
 'consumer confidence',
 'consumer price',
 'consumer prices',
 'consumer spending',
 'consumers',
 'continue',
 'continued',
 'continues',
 'continuing',
 'contract',
 'contracts',
 'contrast',
 'control',
 'controls',
 'conventional',
 'core',
 'corp',
 'corporate',
 'corporations',
 'cost',
 'costs',
 'council',
 'counter',
 'countries',
 'country',
 'county',
 'couple',
 'course',
 'court',
 'cover',
 'crash',
 'create',
 'created',
 'creating',
 'credit',
 'credit card',
 'crisis',
 'critical',
 'critics',
 'crude',
 'crude oil',
 'currencies',
 'currency',
 'current',
 'currently',
 'customers',
 'cut',
 'cuts',
 'cutting',
 'cycle',
 'daily',
 'damage',
 'data',
 'date',
 'david',
 'day',
 'day br',
 'days',
 'deal',
 'dealers',
 'deals',
 'debate',
 'debt',
 'dec',
 'decade',
 'decades',
 'december',
 'decided',
 'decision',
 'decisions',
 'declared',
 'decline',
 'declined',
 'declines',
 'declining',
 'deep',
 'defense',
 'deficit',
 'deficit billion',
 'deficit br',
 'deficits',
 'deflation',
 'demand',
 'democratic',
 'democrats',
 'department',
 'department reported',
 'department said',
 'deposit',
 'deposits',
 'depression',
 'described',
 'designed',
 'despite',
 'details',
 'determine',
 'detroit',
 'developed',
 'developing',
 'development',
 'developments',
 'did',
 'didn',
 'difference',
 'different',
 'difficult',
 'direct',
 'direction',
 'directly',
 'director',
 'discount',
 'discount rate',
 'district',
 'dividends',
 'division',
 'does',
 'doesn',
 'doing',
 'dollar',
 'dollars',
 'domestic',
 'domestic product',
 'don',
 'donald',
 'double',
 'doubled',
 'doubt',
 'dow',
 'dow jones',
 'downturn',
 'downward',
 'dramatic',
 'drive',
 'driven',
 'driving',
 'drop',
 'dropped',
 'drug',
 'durable',
 'earlier',
 'earlier year',
 'early',
 'earned',
 'earnings',
 'ease',
 'eased',
 'easier',
 'easing',
 'east',
 'easy',
 'ecb',
 'economic',
 'economic activity',
 'economic expansion',
 'economic growth',
 'economic recovery',
 'economics',
 'economies',
 'economist',
 'economists',
 'economy',
 'economy br',
 'edged',
 'education',
 'effect',
 'effective',
 'effects',
 'effort',
 'efforts',
 'election',
 'electric',
 'electronics',
 'emergency',
 'emerging',
 'employee',
 'employees',
 'employers',
 'employment',
 'encouraging',
 'end',
 'end year',
 'ended',
 'ending',
 'energy',
 'entire',
 'environment',
 'equal',
 'equipment',
 'equities',
 'equity',
 'especially',
 'estate',
 'estimate',
 'estimated',
 'estimates',
 'euro',
 'europe',
 'european',
 'event',
 'events',
 'eventually',
 'evidence',
 'exactly',
 'example',
 'exchange',
 'exchange commission',
 'exchanges',
 'executive',
 'executives',
 'existing',
 'expand',
 'expanded',
 'expanding',
 'expansion',
 'expect',
 'expectations',
 'expected',
 'expects',
 'expenses',
 'expensive',
 'experience',
 'experts',
 'export',
 'exports',
 'expressed',
 'extend',
 'extended',
 'extra',
 'face',
 'faces',
 'facing',
 'fact',
 'factor',
 'factories',
 'factors',
 'factory',
 'failed',
 'failure',
 'fair',
 'fairfax',
 'fairly',
 'fall',
 'fallen',
 'falling',
 'familiar',
 'families',
 'family',
 'fannie',
 'fannie mae',
 'far',
 'farm',
 'farmers',
 'fast',
 'faster',
 'favor',
 'fear',
 'fears',
 'feb',
 'february',
 'fed',
 'fed chairman',
 'fed officials',
 'fed policy',
 'federal',
 'federal budget',
 'federal funds',
 'federal government',
 'federal reserve',
 'feel',
 'fees',
 'fell',
 'fell percent',
 'fell points',
 'felt',
 'fewer',
 'fifth',
 'fight',
 'fighting',
 'figure',
 'figures',
 'filed',
 'final',
 'finally',
 'finance',
 'financial',
 'financial crisis',
 'financial institutions',
 'financial markets',
 'financing',
 'finding',
 'finished',
 'firm',
 'firms',
 'fiscal',
 'fiscal year',
 'fixed',
 'fixed rate',
 'flat',
 'floor',
 'flow',
 'focus',
 'focused',
 'follow',
 'followed',
 'following',
 'food',
 'force',
 'forced',
 'forces',
 'ford',
 'forecast',
 'forecasters',
 'forecasts',
 'foreign',
 'foreign exchange',
 'form',
 'forward',
 'fourth',
 'fourth quarter',
 'francisco',
 'freddie',
 'freddie mac',
 'free',
 'fresh',
 'friday',
 'friday br',
 'fuel',
 'fueled',
 'fully',
 'fund',
 'funding',
 'funds',
 'funds rate',
 'future',
 'futures',
 'gain',
 'gained',
 'gainers',
 'gains',
 'game',
 'gap',
 'gas',
 'gasoline',
 'gave',
 'gdp',
 'general',
 'general motors',
 'generally',
 'george',
 'german',
 'germany',
 'gets',
 'getting',
 'giant',
 'given',
 'gives',
 'giving',
 'global',
 'gm',
 'goal',
 'goes',
 'going',
 'gold',
 'goldman',
 'goldman sachs',
 'gone',
 'good',
 'good news',
 'goods',
 'goods services',
 'gop',
 'got',
 'gov',
 'government',
 'government spending',
 'governments',
 'governor',
 'grade',
 'great',
 'greater',
 'greenspan',
 'greenspan said',
 'grew',
 'gross',
 'gross domestic',
 'ground',
 'group',
 'groups',
 'grow',
 'growing',
 'grown',
 'growth',
 'growth br',
 'growth rate',
 'gulf',
 'half',
 'hand',
 'hands',
 'happen',
 'happened',
 'hard',
 'hardly',
 'hasn',
 'haven',
 'having',
 'head',
 'headed',
 'health',
 'health care',
 'healthy',
 'hearing',
 'heavily',
 'heavy',
 'hedge',
 'held',
 'help',
 'helped',
 'helping',
 'high',
 'high rates',
 'higher',
 'higher rates',
 'highest',
 'highly',
 'highs',
 'hill',
 'hiring',
 'historic',
 'history',
 'hit',
 'hold',
 'holding',
 'holdings',
 'holiday',
 'home',
 'home sales',
 'homeowners',
 'homes',
 'hope',
 'hopes',
 'hoping',
 'hot',
 'hotel',
 'hour',
 'hours',
 'house',
 'household',
 'households',
 'houses',
 'housing',
 'huge',
 'human',
 'hundreds',
 'hurt',
 'idea',
 'ii',
 'ill',
 'imf',
 'immediate',
 'immediately',
 'immigrants',
 'impact',
 'important',
 'imports',
 'improve',
 'improved',
 'improvement',
 'improving',
 'include',
 'included',
 'includes',
 'including',
 'income',
 'income tax',
 'incomes',
 'increase',
 'increased',
 'increases',
 'increasing',
 'increasingly',
 'index',
 'index rose',
 'indexes',
 'india',
 'indicate',
 'indicated',
 'indicator',
 'indicators',
 'individual',
 'individuals',
 'industrial',
 'industrial average',
 'industrials',
 'industries',
 'industry',
 'inflation',
 'inflation br',
 'inflation rate',
 'inflationary',
 'influence',
 'information',
 'initial',
 'inside',
 'instead',
 'institute',
 'institution',
 'institutions',
 'insurance',
 'international',
 'international monetary',
 'internet',
 'interview',
 'intraday',
 'inventories',
 'invest',
 'invested',
 'investigation',
 'investing',
 'investment',
 'investments',
 'investor',
 'investors',
 'involved',
 'iraq',
 'isn',
 'issue',
 'issued',
 'issues',
 'items',
 'james',
 'jan',
 'january',
 'japan',
 'japanese',
 'job',
 'jobless',
 'jobs',
 'john',
 'johnson',
 'joint',
 'jones',
 'jones average',
 'jones industrial',
 'journal',
 'jr',
 'judge',
 'july',
 'jump',
 'jumped',
 'june',
 'just',
 'justice',
 'keeping',
 'kept',
 'key',
 'kind',
 'know',
 'known',
 'korea',
 'labor',
 'labor department',
 'labor force',
 'labor market',
 'laid',
 'land',
 'large',
 'largely',
 'larger',
 'largest',
 'late',
 'lately',
 'later',
 'latest',
 'law',
 'lawmakers',
 'laws',
 'layoffs',
 'lead',
 'leader',
 'leaders',
 'leadership',
 'leading',
 'leave',
 'leaving',
 'led',
 'left',
 'legal',
 'legislation',
 'lehman',
 'lend',
 'lenders',
 'lending',
 'let',
 'level',
 'levels',
 'lie',
 'life',
 'light',
 'like',
 'likely',
 'limit',
 'limited',
 'limits',
 'line',
 'lines',
 'list',
 'listed',
 'little',
 'live',
 'living',
 'll',
 'loan',
 'loans',
 'local',
 'london',
 ...]

In [66]:
text_dataframe = pd.DataFrame(text_vec.toarray(), columns=vectorizer.get_feature_names())
text_dataframe.head()

,ability,able,abroad,access,according,account,accounting,accounts,acquisition,act,...,yes,yesterday,yesterday br,yield,yields,york,york stock,young,zero,zone
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.118302,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.077294,0.0,0.0,0.0,0.0,0.0,...,0.0,0.110796,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.072620,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.044911,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [67]:
features = pd.concat([data, text_dataframe], axis = 1)

In [68]:
features = features.drop("text", axis = 1)

In [69]:
features.shape

(3000, 2002)

In [70]:
features = features.set_index("id")

In [71]:
features.head()

,headline,ability,able,abroad,access,according,account,accounting,accounts,acquisition,...,yes,yesterday,yesterday br,yield,yields,york,york stock,young,zero,zone
id,,,,,,,,,,,,,,,,,,,,,
uid-1,1529,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.118302,0.0,0.0,0.0,0.0
uid-2,678,0.0,0.0,0.0,0.0,0.077294,0.0,0.0,0.0,0.0,...,0.0,0.110796,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
uid-3,849,0.0,0.0,0.0,0.0,0.072620,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
uid-4,2352,0.0,0.0,0.0,0.0,0.044911,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
uid-5,809,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [72]:
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_score

In [73]:
# for k in [2, 10, 50, 100, 200, 500, 1000]:
    
#     clusterer = GaussianMixture(n_components= k).fit(features)
    
#     preds = clusterer.predict(features)
    
#     print(silhouette_score(features, preds, random_state=0))

In [74]:
# from sklearn.cluster import KMeans

# for k in [2, 10, 50, 100, 200, 500, 1000]:
    
        
#     clusterer = KMeans(n_clusters=k, random_state=0).fit(features)
    
#     preds = clusterer.predict(features)
    
#     print(silhouette_score(features, preds, random_state=0))

In [42]:
# features_sub = features[features.columns[0:10]]

In [75]:
# features_sub.head()

In [76]:
# features_sub.ability.value_counts()

In [81]:
clusterer = KMeans(n_clusters=2, random_state=0).fit(features)
preds = clusterer.predict(features)
print(silhouette_score(features, preds, random_state=0))

features["cluster"] = preds

0.63112095343

In [83]:
features = features.reset_index()
features.head()

,id,headline,ability,able,abroad,access,according,account,accounting,accounts,...,yesterday,yesterday br,yield,yields,york,york stock,young,zero,zone,cluster
0,uid-1,1529,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.118302,0.0,0.0,0.0,0.0,1
1,uid-2,678,0.0,0.0,0.0,0.0,0.077294,0.0,0.0,0.0,...,0.110796,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0
2,uid-3,849,0.0,0.0,0.0,0.0,0.072620,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0
3,uid-4,2352,0.0,0.0,0.0,0.0,0.044911,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,1
4,uid-5,809,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0

In [84]:
features.to_csv("cluster_result.csv", columns = ["id", "cluster"])

In [78]:
# clusterer = KMeans(n_clusters=3000, random_state=0).fit(features_sub)
# preds = clusterer.predict(features_sub)
# print(silhouette_score(features_sub, preds, random_state=0))

# features["cluster"] = preds

# features["cluster"].to_csv("cluster_result.csv")

In [79]:
np.savetxt('tfm3.txt', features.as_matrix())